Data Overview

In [7]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/home/lili/Downloads/Telegram Desktop/data mining/tamrin 3/cleaned_data.csv')

# Display the first few rows of the data
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,1.051434,0,1,1,2,1,2.058363,1.110872,1,1
1,0,0.786070,0,0,1,3,0,2.058363,-0.082921,2,1
2,1,1.626390,0,1,1,2,0,0.148256,0.535043,2,1
3,0,0.255342,0,0,1,2,1,2.058363,0.801890,3,1
4,0,1.582163,1,0,1,3,0,2.058363,-0.658751,2,1

Data Splitting for Training and Testing

In [8]:
from sklearn.model_selection import train_test_split

# Separate features and target variable
X = data.drop('stroke', axis=1)
y = data['stroke']

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Model Implementation: Naive Bayes

In [9]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix


# Initialize a list to store results
nb_results = []

# Test different Naive Bayes models
models = {
    "GaussianNB": GaussianNB(),
    "BernoulliNB": BernoulliNB()
}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_nb_pred = model.predict(X_test)
    
    # Evaluate the model
    accuracy = accuracy_score(y_test, y_nb_pred)
    report = classification_report(y_test, y_nb_pred, output_dict=True)
    confusion = confusion_matrix(y_test, y_nb_pred)
    
    nb_results.append({
        "model": model_name,
        "accuracy": accuracy,
        "precision_stroke": report['1']['precision'],
        "recall_stroke": report['1']['recall'],
        "f1_score_stroke": report['1']['f1-score'],
        "confusion_matrix": confusion
    })

# Print the results
nb_df = pd.DataFrame(nb_results)
print(nb_df)

         model  accuracy  precision_stroke  recall_stroke  f1_score_stroke  \
0   GaussianNB  0.865949          0.204724       0.419355         0.275132
1  BernoulliNB  0.930528          0.153846       0.032258         0.053333

         confusion_matrix
0  [[859, 101], [36, 26]]
1    [[949, 11], [60, 2]]