Data Overview

In [6]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/home/lili/Downloads/Telegram Desktop/data mining/tamrin 3/cleaned_data.csv')

# Display the first few rows of the data
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,1.051434,0,1,1,2,1,2.058363,1.110872,1,1
1,0,0.786070,0,0,1,3,0,2.058363,-0.082921,2,1
2,1,1.626390,0,1,1,2,0,0.148256,0.535043,2,1
3,0,0.255342,0,0,1,2,1,2.058363,0.801890,3,1
4,0,1.582163,1,0,1,3,0,2.058363,-0.658751,2,1

Data Splitting for Training and Testing

In [7]:
from sklearn.model_selection import train_test_split

# Separate features and target variable
X = data.drop('stroke', axis=1)
y = data['stroke']

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Model Implementation: Support Vector Machine (SVM)

In [8]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Initialize a list to store results
svm_results = []

# Test different kernel functions and class weighting
for kernel in ['linear', 'rbf', 'poly']:
    svm = SVC(kernel=kernel, class_weight='balanced', random_state=42)
    svm.fit(X_train, y_train)
    y_svm_pred = svm.predict(X_test)
    
    # Evaluate the model
    accuracy = accuracy_score(y_test, y_svm_pred)
    report = classification_report(y_test, y_svm_pred, output_dict=True)
    confusion = confusion_matrix(y_test, y_svm_pred)
    
    svm_results.append({
        "kernel": kernel,
        "accuracy": accuracy,
        "precision_stroke": report['1']['precision'],
        "recall_stroke": report['1']['recall'],
        "f1_score_stroke": report['1']['f1-score'],
        "confusion_matrix": confusion
    })

# Print the results
svm_df = pd.DataFrame(svm_results)
print(svm_df)

   kernel  accuracy  precision_stroke  recall_stroke  f1_score_stroke  \
0  linear  0.740705          0.160535       0.774194         0.265928
1     rbf  0.756360          0.167260       0.758065         0.274052
2    poly  0.777886          0.160494       0.629032         0.255738

         confusion_matrix
0  [[709, 251], [14, 48]]
1  [[726, 234], [15, 47]]
2  [[756, 204], [23, 39]]